extends layout

block content
  h1 Fawcett Halloween Party #{ collectionYear }
  p The party starts at 7:30pm on Saturday, October 31, 2015.
    |  <strong>Costumes are mandatory!</strong>

  p To RSVP, please fill out the form and click Submit.

  hr

  form#submitData(action="/submit", method="post", name="submitData")
    p
      label Your name
      input(type="text", name="guestName")

    p
      label Number of guests including yourself
      select(name="guestNumber")
        - for ( var i = 1; i <= 10; i++ )
          option(value="#{i}") #{i}

    p
      label You bringing food or drink?
      label.radio
        input(type="radio", name="guestFood", value="none")
        | I am a starving artist; neither food nor drink accompanies me
      label.radio
        input(type="radio", name="guestFood", value="food")
        | I am bringing food
      label.radio
        input(type="radio", name="guestFood", value="drink")
        | I am bringing drink (non-alcoholic)
      label.radio
        input(type="radio", name="guestFood", value="alcohol")
        | I am bringing <em>drink (wink, wink)</em> (alcoholic)
      label.radio
        input(type="radio", name="guestFood", value="food and drink")
        | I am awesome; I am bringing both food and drink
      label.radio
        input(type="radio", name="guestFood", value="food and alcohol")
        | I MAKE A KING'S SALARY, AND SHALL BRING BOTH FOOD AND ALCOHOL!

    p
      label Briefly describe what you bringin'
      textarea(name="guestDescribe", cols="50", rows="5")

    p
      label Thanks for filling out this form!
      input(type="submit", value="Submit", name="submit")
    h4.error= errorMessage